/* Estilos para la caja de descripción */
.descripcion_del_producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    width: 60%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .imagen {
    max-width: 250px;
    margin-right: 20px;
  }
  
  .contenido {
    flex: 1;
  }
  
  .titulo {
    font-size: 28px; /* Tamaño de fuente más grande */
    margin: 0 0 10px;
    color: #333; /* Color de texto más oscuro */
  }
  
  .descripcion, .pasos, .herramientas {
    margin: 10px 0; /* Espaciado más amplio */
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #666; /* Color de texto más claro */
  }
  
  .herramientas {
    font-weight: bold;
  }
  
  /* Estilo para los pasos */
  .pasos {
    list-style: decimal inside;
    padding-left: 20px;
  }
  /* Estilo para los botones */
.boton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #2980b9;
}



  